name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Build Site
        run: bundle exec jekyll build

  validate:
    name: Validate HTML
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Build Site
        run: bundle exec jekyll build
      - name: Test with html-proofer
        run: bundle exec htmlproofer _site --swap-urls "^/site/:/" --ignore-urls "/^http:\/\/127.0.0.1/,/^http:\/\/0.0.0.0/" --disable-external
        env:
          NOKOGIRI_USE_SYSTEM_LIBRARIES: true
